 {% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Вопросы</h1>

    {% for poll in polls %}
        <h3>Вопрос: <a href="{% url "poll_view" poll.pk %}">{{ poll.question }}</a></h3>
{#        <p>Вопрос: {{ poll.question }}</p>#}
        <p>Дата создания опроса: {{ poll.created_at|date:"d.m.Y H:i:s" }}</p>
        <p><a href="{% url 'poll_update' poll.pk %}">Изменить</a> | <a href="{% url 'poll_delete' poll.pk %}">Удалить</a></p>
        <hr>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}